p {
    align-content: center;
    justify-content: center;
    display: block;
    padding: 30px;
    color: rgb(251, 255, 0);
    margin: 30px;
    text-align: center;
    font-size: 400%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    background-color: rgb(1, 75, 1) !important;
    align-content: center;
    justify-content: center;
}

button {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius: 33px !important;
	border: 1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:16px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-panel {
	width: 50%; height: 50%; position:center; text-align:center; width: 500px; margin: auto; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::placeholder {
	text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col-md-15 {
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: center;
	text-align: center;
	width: 50%;
	height: 50%;
	text-align: center;
	width: 500px;
	margin: auto;
}

* {
	box-sizing: border-box;
  }

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
  padding: 26px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column2 {
	float: left;
	width: 50%;
	padding: 26px;
	height: 300px; /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }